div.form{
  background-color: wheat;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;

}
div.inp{
  margin: 5px;
}
label{
  color: rgb(179, 50, 3);
  font-weight: 800;
  margin-right: 5px;
}
.inpt{
  outline: none;
  padding: 5px;
  width: 300px;
}
input[type="button"]{
  background-color: rgb(179, 50, 3);
  color: white;
  padding: 5px;
  width: 100%;
  font-weight: 600;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}
input[type="button"]:hover{
  background-color: rgb(202, 57, 4);
}
.error{
  text-align: center;
  color: red;
}
